body {
  background-color: #222;
  color: goldenrod;
}
.name {
  color: goldenrod;;
  display: inline-block;
  animation: nameEffect 2s ease-in-out infinite;
}
@keyframes nameEffect {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.08);
  }

  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.nav ul {
  display: flex;
  gap: 20px;
  margin-top: -50px;
  margin-left: 920px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: goldenrod;
}

.text {
  background-color: #222;
  width: 500px;
  padding: 30px;
  border: 1px rgb(240, 237, 237);
  box-shadow: 5px 5px 5px goldenrod;
  margin-top: 110px;
  margin-left: 150px;
}
.img {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}
.photo {
  margin-left: 780px;
  margin-top: -400px;
}
.btn {
  align-items: flex-start;
  display: flex;
  margin-left: 270px;
  margin-top: 40px;
  gap: 40px;
}
#ContactBtn {
  background-color: goldenrod;
  width: 120px;
  height: 40px;
}
#cvBtn {
  background-color: goldenrod;
}
.names {
  color: goldenrod;
  text-align: center;
  margin-left: 500px;
  text-decoration: underline;
  position: relative;
  top: 70px;
}

.Skill img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 5px;
}
.skill-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-left: 680px;
  position: relative;
  top: 90px;
}

#no {
  font-size: 20px;
}

.me-container {
  position: relative;
  top: 300px;
  padding: 20px;
  margin-left: 90px;
  border: 1px solid rgb(219, 213, 213);
  box-shadow: 5px 5px 10px goldenrod;
  width: 400px;
  background-color: #222;
}
.project {
  position: relative;
  top: 300px;
  margin-left: 0px;
  border: 1px solid rgb(219, 213, 213);
  padding-top: 50px;
  width: 320px;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px gray;
}
.project-continer {
  display: flex;
  gap: 30px;
  justify-content: center;
}
#pro {
  color: goldenrod;
  position: relative;
  text-align: center;
  top: 290px;
  text-decoration: underline;
}
.project h3 {
  color: goldenrod;
}
#oo {
  color: goldenrod;
  text-align: center;
  text-decoration: underline;
}

#imge {
  width: 200px;
  height: 100px;
}

footer {
  margin-top: 400px;
  padding: 20px;
  text-align: center;
  background-color: goldenrod;
}
#contactInfo {
  color: goldenrod;
  display: none;
  position: absolute;
  margin-left: 430px;
  margin-top: 10px;
}
#contactBtn {
  background-color: goldenrod;
}
.dark-mode {
  background-color: white;
}
#themeBtn {
  background-color: goldenrod;
}
