 body{
    background-color: #FFF7FA;
    color: #3D2C3E;
 }
 
 .nav ul{
  display: flex;
  gap: 20px;
   margin-top:-50px;
   margin-left:920PX;
}

.text{
  
    width: 500px;
    padding: 30px;
    border: 1px  rgb(240, 237, 237);
    box-shadow: 5px 5px 5px grey;
    margin-top: 110px;
    margin-left:150px ;
}
.img{
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px;
 
}
.photo{
   margin-left: 780px;
  margin-top:-400px;
  
  }
  .btn{
    display: flex;
    margin-left: 270px;
    margin-top: 40px;
        gap: 40px;
    
      }
  #btn{
        width: 120px;
        height: 40px;
   }
   #cv{
    background-color: brown;
   }
   .names{
    color: brown;
    text-align:center ;
position: relative;
top: 140px;     
   }


.Skill img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    }
    .skill-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-top: 50px;
    position: relative;
top: 150px;
}
    


#no{
   font-size: 20px;
}

.me-container{
    position: relative;
    top: 400px;
    margin-left: 700px;
    border: 1px solid rgb(219, 213, 213);
    box-shadow: 5px 5px 10px gray;;
    padding-top: 50px;
   width: 400px;
}
.projects{
 position: relative;
    top: 300px;
    margin-left: 0px;
    border: 1px solid rgb(219, 213, 213);
    box-shadow: 5px 5px 10px gray;;
    padding-top: 50px;
   width: 400px;
}

#imge{
   width: 200px;
   height:100px ;
}

   footer {
    margin-top: 400px;
    padding: 20px;
    text-align: center;
    background-color: #a684a8 ;
}
